.main_admin_container {
    display: flex;
}

.left_wrapper {
    width: 100%;
    max-width: 200px;
    /* background: burlywood; */
    overflow-y: scroll;
    min-height: 100vh;
    border-right: solid 3px #525252;
}

.left_menu_container {
    max-width: 200px;
    width: 100%;
    position: fixed;
}

.right_wrapper {
    width: 100%;
}

.menu_table {
    width: 100%;
}

.menu_table>tbody>tr {
    text-align: center;
}

.top_user_menu {
    height: 40px;
    position: fixed;
    width: 100%;
}

.user_button {
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: fixed;
}


.grey_button {
    border: solid 2px rgb(77, 77, 77);
    color: rgb(77, 77, 77) !important;
}

.right_container {
    padding-top: 40px;
    margin-bottom: 100px;
}

a {
    color: #525252 !important;
}

.loader_wrapper {
    width: 100%;
    position: fixed;
    background: #5858586b;
    z-index: 9;
    height: 100%;
    display: none;
}

.loader_container>div {
    // width: 50px;
    // height: 50px;
    // background: red;
    // border-radius: 50px;
    color: rgb(49, 49, 49) !important;
    font-size: 30px;
    font-weight: 500
}

.loader_container {
    width: 100%;
    height: 100%;
    text-align: center;
}

._center {
    justify-content: center;
    display: flex;
    align-items: center;
}

@media screen and (max-width:768px) {
    .left_wrapper {
        width: 0px;
    }


    .left_menu_container {
        width: 0;
        overflow: hidden;
    }

}


.logo_container {
    text-align: center;
}

.logo_container>img {
    margin-top: 10px;
    width: 100%;
    max-width: 150px;
}

.menu_item {
    margin: 17px 0px;
}

.menu_item>a {}

.page_title {

    margin-left: 15px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
    border-bottom: solid 2px grey;
    width: fit-content;
}



input {
    width: 90%;
    border: solid 1px;
    border-radius: 4px;
    resize: none;
}

table {
    width: 100%;

    .label_name {
        font-weight: 500;
        font-size: 17px;
    }

    input,
    textarea {
        width: 90%;
        border: solid 1px;
        border-radius: 4px;
        resize: none;
    }

    th {
        text-align: center;
    }

    td {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }


}

.saveButton,
.activateButton,
.deactivateButton,
.deleteButton {
    margin-top: 30px;
}

.check_input {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.crud_row {
    text-align: right;

    button {
        margin-right: 20px;
    }
}


.form_container {
    width: 100%;
    max-width: 700px;
    padding: 0 10px;

    input {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

#photoContainer,
.dz_container {
    margin-top: 20px;
    margin-bottom: 25px;
}

.button_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.existing_photo {
    display: flex;

    .button {
        display: flex;
        justify-content: space-around;
        align-items: center;
        // min-height: 200px;
        margin-left: 20px;
    }

    img {
        width: 100%;
        max-width: 200px;
    }
}

.video_settings_container {
    display: flex;

    .input_element {
        max-width: 400px;
    }

    .media_video_button_container {
        height: 50px;
    }
}

.yt_video_container {
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    min-height: 300px;
    background: #41414199;
}

.video_row {
    margin-top: 40px;
}

.validateYtLink,
.validateMailLink {
    margin-top: 20px;
}

.two_span {
    div {
        font-size: 25px;
        border-bottom: solid 2px #41414199;
        color: #41414199;
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 25px;
    }
}

.white {
    color: white !important;
}

.input_element_select {
    width: 100%;
    height: 50px;
}
