// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';




$brown: #86764d;
$darkBlue: #202020;
$titleFontSize:calc(50px + (75 - 50) * ((100vw - 600px) / (1300 - 600)));
$titleFontSizeTwoLines:calc(35px + (60 - 35) * ((100vw - 600px) / (1300 - 600)));
$aptTitleFontSize:calc(35px + (40 - 35) * ((100vw - 600px) / (1300 - 600)));
// $textColor: black;
$textColor: #4D4D4D;
$textSize:22px;
$textWeight:500;
$textLineHeight:1.2;
$bigFont:calc(28px + (17 - 28) * ((100vw - 600px) / (1300 - 600)));

$greymaybeblack:#4D4D4D;

// @font-face {
//     font-family: 'helvetica';
//     src: url('/Helvetica/HelveticaNeueLTStd Lt.otf') format('opentype');
//     font-weight: normal;
// }

// @font-face {
//     font-family: 'helvetica';
//     src: url('/Helvetica/HelveticaNeueLTStd-BdCn.otf') format('opentype');
//     font-weight: bold;
// }

* {
    font-family: 'Lato', sans-serif;
}



.top_menu_bar {
    background: transparent;
    display: flex;
    position: relative;
    height: 150px;


    @media(max-width: 1420px) {
        height: 130px;
    }

    @media(max-width: 1245px) {
        display: block;
        height: 110px;
    }

    .logo_container {
        @media(max-width: 1245px) {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            max-width: 230px;
            margin-left: 20px;

            @media(max-width: 1420px) {
                max-width: 200px;
            }
        }

        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-height: 80px;

    }

}

.hm_menu {
    display: none;
    text-align: center;

    @media(max-width: 1045px) {
        display: block;
    }

    .hm_menu_img {
        width: 100%;
        max-width: 35px;
        cursor: pointer;
    }
}


.menu_sm {
    display: none;

    .inner_menu_wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        background: whitesmoke;
        position: absolute;
        z-index: 99;
        height: 100vh;
        max-height: 500px;
        overflow-y: scroll;
        display: grid;
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        a {
            color: $textColor !important;
            font-weight: 600;
        }
    }
}


.menuVisible {
    display: block !important;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    max-width: 1200px;
    float: right;
    right: 0;
    // bottom: calc(50% - 13px);
    bottom: 60%;

    @media(max-width: 1380px) {
        justify-content: center;
    }

    @media(max-width: 1320px) {
        position: unset;
    }

    @media(max-width: 1245px) {
        position: unset;
        padding: 0 !important;
    }

    @media(max-width: 1045px) {
        display: none;
    }



    a {
        color: $textColor !important;
        font-size: 18px;
        font-weight: 500;

        @media(max-width: 1420px) {
            font-size: 16px;
        }


        @media(max-width: 1380px) {
            font-size: 15px;
            font-weight: 400;
            margin: 0 8px
        }
    }
}






.no_margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.footer_bar {
    background: $darkBlue;
    height: 100px;

    .text {
        width: 100%;
        text-align: center;
        color: white;
        padding-top: 12px;
        font-size: 12px;
    }

    .ap {
        width: 100%;
        text-align: center;
        color: white;
        padding-top: 12px;
        font-size: 12px;
    }
}

.big_footer {
    height: 350px !important;
}

.no_padding {
    padding: 0 !important;
}


.no_offset {
    margin-top: 0px !important;
}

.offset_container {
    margin-bottom: 50px;

    .dark_section {
        background: $darkBlue;
        min-height: 450px;
    }

    .light_section {
        margin-bottom: 50px;
    }


    .title {
        font-size: $titleFontSize;
        font-weight: 100;
        color: $brown;
        width: 100%;
        text-align: center;
        letter-spacing: 20px;
        padding-top: 40px;
        height: 100%;
        max-height: 220px;
        // overflow: hidden;
        line-height: 1;

        @media(max-width: 768px) {
            letter-spacing: 5px !important;
            font-size: 26px !important;
            font-weight: 300;
        }

    }

    .two_lines {
        font-size: $titleFontSizeTwoLines !important;

        @media(min-width: 2000px) {
            padding-top: 25px !important;
        }

    }


    .offet_slider_wrapper {
        margin-top: -230px;
    }

    .offset_media_container {
        background: rgb(221, 221, 221);
        height: 100%;
        min-height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -230px;



    }


    .offset_media_container.adjust_mt {
        @media(max-width: 1045px) {
            margin-top: 30px;
        }
    }

    .media_container_no_offset {
        background: rgb(221, 221, 221);
        height: 100%;
        min-height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text_container {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        .text {
            border-top: solid 5px black;
            padding-top: 40px;
            width: 100%;
            // max-width: 800px;
            text-align: center;
            font-size: $textSize;
            color: $textColor;
            font-weight: $textWeight;
            line-height: $textLineHeight;
        }

    }
}


.nav_slider {
    margin-top: 25px;
    padding-left: 50px !important;

    @media(min-width: 1230px) {
        padding-left: 40px !important;
    }
}

.slick-slide {
    outline: none;
    cursor: pointer;
}



.apt_nav_slider {
    margin-bottom: 80px;

    .apt_nav_slide {
        // width: 100% !important;

        .title {
            color: $brown;
            font-size: $aptTitleFontSize;
            font-weight: 100;
            width: fit-content;
            text-align: left;
            letter-spacing: 20px;
            border-bottom: solid 2px $brown;
            margin-bottom: 10px;
        }

        .description {
            margin-top: 10px;
            width: 100%;
            max-width: 300px;
            // border: solid 2px;
            font-weight: 200;
        }

    }

}


.apt_elements_wrapper {
    .container {
        @media(max-width: 768px) {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }

    .apt_models_container {
        position: relative;
    }

    .pv_button,
    .fw_button {
        img {
            width: 100%;
            max-width: 40px;
        }

        cursor: pointer;
        top: calc(50% - 40px);
        position: absolute;
        z-index: 9;
    }

    .pv_button {
        left: 0;
    }

    .fw_button {
        right: 0;
    }

    .apt_media_slider {
        // width: 100%;
        max-width: 1200px;

        .slick-slide {
            height: 100%;
        }

        .apt_slide_instance {
            // width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 20px;
            // border: solid 2px red;

            img {
                width: 100%;
                max-width: 600px;
            }
        }
    }
}




.offet_slider_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;

    @media(min-width: 1230px) {
        padding-left: 0px;
    }



    .media_slider {
        width: 100%;
        max-width: 1200px;

        .slick-slide {
            height: 100%;
            max-height: 500px !important;
        }

        .slide_instance {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 20px;
            // border: solid 2px red;

            img {
                width: 100%;
            }
        }
    }

    .media_slider_nav {
        width: 100%;
        max-width: 1200px;

        .slick-slide {
            height: 100%;
            max-height: 500px !important;
        }

        .slick-slide {
            width: 100%;
            max-width: 200px !important;

            @media(max-width: 768px) {
                max-width: 150px !important;

            }

            @media(max-width: 510px) {
                max-width: 100px !important;

            }
        }

        .slide_instance {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 20px;
            // border: solid 2px red;

            img {
                width: 100%;
            }
        }
    }

}



.media_slider,
.media_slider_nav {
    .slick-list {
        padding: 0 10% 0 0 !important;

        @media(min-width: 1230px) {
            padding: 0 !important;
        }
    }


}




.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    @media screen and (max-width: 768px) {
        display: block;

        .primary_button {
            // padding-top: 14px;
            margin-left: 0px;
            margin-right: 0px;
            margin: 0 auto;
            margin-top: 10px;
        }

    }
}

.primary_button {
    width: 100%;
    max-width: 280px;
    height: 50px;
    color: white;
    background: $brown;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;

    &:hover {
        color: white;
    }
}




.amenities.third_container.full_width_banner {
    // background: url('/tempAssets/dto_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    margin-top: 60px;
    margin-bottom: 40px;

    @media screen and (max-width: 827px) {
        background: white !important;
    }
}


.madera_bannner {
    background: url('/assets/madera.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.project.third_container.full_width_banner {
    background: url('/assets/madera.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

    .inner_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        text-align: center;

        .logo {
            margin-top: 10px;
            width: 100%;
            max-width: 150px;
        }

        .text {
            font-size: 32px;
            color: white;
        }

        .forms_logo {
            width: 100%;
            max-width: 150px;
            margin-bottom: 10px;
        }

    }

}


.map_button_container {
    height: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;


    .blue_button {
        width: 100%;
        height: 50px;
        color: white;
        background: $darkBlue;
        font-size: 20px;

        &:hover {
            color: white;
        }
    }

    .ml {
        margin-left: 10px;
    }

    .mr {
        margin-right: 10px;
    }

    .mid_width {
        width: 100%;
        max-width: 350px;
    }

}

.left_title {
    font-size: 60px;
    font-weight: 100;
    color: #86764d;
    width: 100%;
    text-align: center;
    letter-spacing: 8px;
    padding-top: 40px;
    height: 100%;
    max-height: 220px;
    overflow: hidden;
    line-height: 1;
}

.no_offset {
    margin-top: 20px !important;
}


.post_text {
    font-weight: 300 !important;
}

.update_container {
    margin-top: 50px;
}

.initial_container {
    width: 100%;
    height: 100%;
    min-height: 520px;
    background: $darkBlue;
}

.image_cont {

    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 810px;
    background-size: cover;
    // clip-path: polygon(0 0, 100% 0, 100% 81%, 50% 100%, 0 80%);
}

.img_title {
    height: 100%;
    max-height: 270px;

    img {
        width: 100%;
        max-width: 130px;
    }
}




.min_height_big {

    min-height: 750px !important;

    // @media(max-width:1045px) {
    //     max-height: 350px !important;
    //     min-height: 350px !important;
    // }

    .dark_section {
        @extend .offset_container;
        min-height: 750px !important;

        .white>* {
            color: white !important;


        }

        .text_container {
            .text {
                border-top: none;
            }

        }
    }
}

.offset_container_big {}




.center_all {
    display: flex;
    justify-content: center;
    align-items: center;
}


.min_text {
    @media(max-width: 1045px) {
        font-size: 20px;
    }

    text-align: center;
    font-weight: 700;
    color: $brown;
    margin-top: 40px;
    letter-spacing: 5px;
    font-size: 40px;
}


.big-text {
    font-size: 4vw !important;
    padding: 0 10px !important;
}

@media screen and (min-width: 1200px) {
    .big-text {
        font-size: 30px !important;
    }
}


.dark_wrapper {
    width: 100%;
    background: $darkBlue;
}


.form_container {
    width: 100%;
}

.input_container {
    width: 100%;
    margin-top: 50px;

    label {
        color: #505050;
        font-size: 21px;
    }

    input {
        height: 50px;
        width: 100%;
        border: solid 1px#414141;
        border-radius: 2px;
        font-size: 20px;
        padding: 0px 5px;
    }

    textarea {
        height: 180px;
        width: 100%;
        resize: none;
        border: solid 1px#414141;
        border-radius: 2px;
        font-size: 20px;
        padding: 10px;
    }

    ::-webkit-input-placeholder {
        /* Edge */
        color: #414141;
        font-size: 20px;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #414141;
        font-size: 20px;
    }

    ::placeholder {
        color: #414141;
        font-size: 20px;
    }


    @media(max-width: 1045px) {
        width: 100%;
        margin-top: 20px;
    }
}




.dark_wrapper_inverse {
    @extend .dark_wrapper;
    margin-top: 120px;

    .grey_cont {
        background: #dddddd;
        height: 100%;
        max-height: 500px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -90px;
        position: absolute;
    }

    .m_text {
        @extend .min_text;
        padding-top: 500px !important;
        font-size: 30px !important;
        font-weight: 600 !important;
        letter-spacing: 2px !important;
        max-width: none !important;

    }


    .white_text {
        width: 100% !important;
        max-width: 800px !important;
        text-align: center !important;
        font-size: 27px !important;
        color: white !important;
        font-weight: 500 !important;
        line-height: 1.2 !important;
        max-width: none !important;
    }
}


.black_text {
    width: 100% !important;
    // max-width: 800px;
    text-align: center !important;
    font-size: 27px !important;
    color: $greymaybeblack !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    max-width: none !important;

}

.rel_pos {
    position: relative;
}

.max_height_banner {
    min-height: 700px !important;
}


.white_button {
    width: 100%;
    max-width: 280px;
    height: 50px;
    color: $textColor;
    background: white;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border: none;

    &:hover {
        color: $textColor;
    }
}

.black_button {
    width: 100%;
    max-width: 250px;
    height: 60px;
    color: white;
    background: black;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    border: none;

    &:hover {
        color: white;
    }
}

.form_button_container {
    margin-top: 40px;

    @media(max-width: 768px) {
        text-align: center;
    }
}

.rounded {
    border-radius: 30px !important;
}

.divider {
    width: 2px;
    background: black;
}

.bottom_img {
    width: 100%;
    max-width: 130px;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.divider {
    width: 2px;
    height: 130px;
    background: #989898;
}

.final_container {
    margin-top: 60px;
}

.bg_props {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.banner_container {
    height: 90px;
    background: $darkBlue;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    margin-bottom: 0 !important;
}

.white {
    color: white !important;
}

.update_bg {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.tower_cont {
    img {
        width: 100%;
        max-width: 355px;

        @media(max-width: 768px) {
            width: 100%;
            max-width: 190px;
        }
    }
}

.contain {
    background-size: contain !important;
}

.white_bg {
    background-color: white !important;
}

.media_instance {
    margin-top: 30px;
    margin-bottom: 20px;

    .media_content_wrapper {
        width: 100%;
    }

    .media_img {
        img {
            width: 100%;
            max-width: 270px;
        }
    }

    .media_post_title {
        font-size: 21px;
        letter-spacing: 0px;
        font-weight: 600;
    }

    .media_post_content {
        font-size: 19px;
        letter-spacing: 0px;
        font-weight: 200;
    }
}


.blog_section_title {
    font-weight: 100;
    font-size: 65px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
}

.blog_section_text {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0px;
    color: white;
    text-align: left;

    padding-right: 30px;
}

.mb0 {
    margin-bottom: 0px !important;
}

.blog_dark_container {
    padding-top: 60px;
    background: #202020;
    padding-bottom: 50px;


    .media_instance {
        margin-top: 30px;
        margin-bottom: 20px;

        .media_content_wrapper {
            width: 100%;
        }

        .media_img {
            img {
                width: 100%;
                max-width: 330px;
            }
        }

        .center_all {
            align-items: flex-end !important;
        }

        .media_post_title {
            font-size: 21px;
            letter-spacing: 0px;
            font-weight: 600;
            color: white;

        }

        .media_post_content {
            font-size: 19px;
            letter-spacing: 0px;
            font-weight: 200;
            color: white;
            text-align: left;

        }
    }

}

.social_container {
    position: fixed;
    left: 10px;
    z-index: 9;
    top: 40%;



    // .insta {
    //     padding: 3px;
    // }


    .ph {
        a {
            img {
                width: 44px !important;
            }
        }
    }

    .social {
        margin-top: 7px;
        // background: #495058;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;



        a {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                width: 42px;
                border-radius: 10px;
            }
        }
    }
}

.map_photo_container {
    width: 100%;
    max-width: 500px;


}

.map_photo {
    img {
        width: 100%;
    }
}

.nobg {
    background: transparent !important;
}




// Home mobile

.top_menu_bar {
    @media(max-width: 1045px) {
        display: none;

    }
}


.logo_sm {
    display: none;
}

.image_cont {
    @media(max-width: 1045px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        clip-path: none;
        min-height: 550px;

        .logo_sm {
            margin: 0 auto;
            margin-top: 40px;
            display: block;
            width: 100%;
            max-width: 200px;
        }
    }

}





.no_sm {
    @media(max-width: 1045px) {
        display: none !important;
    }
}

.sm_change_bg {
    @media(max-width: 1045px) {
        background: #202020 !important;
    }
}

.sm_show {
    display: none;

    @media(max-width: 1045px) {
        display: block;
    }
}

.sm_menu_container {
    display: none;
    position: relative;
    width: 100%;

    @media(max-width: 1045px) {
        display: block;

        .ham_sm {
            margin-top: 20px;

            div {
                width: 100%;
                max-width: 30px;
                height: 3px;
                background: white;
                margin: 0 auto;
                margin-top: 6px;
            }
        }

        .menu_sm {
            position: absolute;
            width: 100%;
            // top: 15px;
        }


    }

}

.sm-text {
    color: white !important;

    @media(max-width: 1045px) {
        color: $textColor !important;
    }
}

.sm_text {
    @media(max-width: 1045px) {
        font-size: 19px !important;
    }
}

.sm_no_mt {
    @media(max-width: 1045px) {
        margin-top: 0px !important;
    }
}

.sm_mb {
    @media(max-width: 1045px) {
        margin-bottom: 20px !important;
    }
}

.sm_no_pt {
    @media(max-width: 1045px) {
        padding-top: 20px !important;
    }
}

._lighttext {
    @media(max-width: 1045px) {
        font-weight: 300;
        font-size: 35px !important;
        padding: 0 5px
    }
}

._light-sm {
    @media(max-width: 1045px) {
        font-weight: 300;
        font-size: 25px !important;
        padding: 0 5px
    }
}

.no_b_sm {
    @media(max-width: 1045px) {
        border: none !important;
    }
}



.sm_light {
    @media(max-width: 1045px) {
        display: none;
        background: white !important;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        max-height: 300px !important;
        min-height: 300px !important;

        .text_container {
            margin-top: -50px !important;
            padding-top: 20px !important;
        }

        // .offset_container {
        //     margin-top: 0 !important;
        // }
    }

}


.sm_container {

    background: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    // min-height: 490px;

    .text_container {
        margin-top: -50px !important;
        padding-top: 20px !important;
    }

    .sm_big_text {
        font-size: 31px;
    }

    .sm_small_text {
        font-size: 23px;
    }
}


.slide_2,
.bg_props {
    @media(max-width: 1045px) {
        min-height: 200px !important;
    }
}

.slide_3,
.bg_props {
    @media(max-width: 1045px) {
        min-height: 200px !important;
    }

}

.sm_height {
    @media(max-width: 1045px) {
        height: 100px !important;
    }

}


.sm_show.grey_cont {
    min-height: 350px;
    background: $darkBlue;

}



.loader_wrapper {
    width: 100%;
    position: fixed;
    background: #232323cf;
    z-index: 9999;
    height: 100%;
    display: none;
}

.loader_container>div {
    font-size: 20px;
    font-weight: 300;
    display: grid;
    color: white !important;

    img {
        width: 100%;
        max-width: 130px;
        margin-bottom: 10px;
    }
}

.loader_container {
    width: 100%;
    height: 100%;
    text-align: center;
}


#videoModal {
    .modal-title {
        img {
            width: 100%;
            max-width: 120px;
        }
    }

    .modal-content {
        border: none;
        border-radius: 0;
    }
}

#inputModal {
    .modal-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 110%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: none;
        border-radius: 0;
        outline: 0;

        @media(max-width:768px) {
            width: 100% !important;

        }

    }



    .brochure {
        .input_container {
            margin-top: 10px !important;
        }

        .text {
            font-size: 20px;
            font-weight: 600;
        }

        .form_button_container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .saveInputButtonn {
            cursor: pointer;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            width: 100%;
            height: 39px;
            max-width: 112px;
        }
    }

}


.thank_you_container {
    position: fixed;
    background: white;
    top: 0;
    height: 100vh;
    min-height: 900px;
    width: 100%;
    overflow-y: scroll;

    .top_dark {
        background: $darkBlue;
        height: 100%;
        min-height: 440px;
        text-align: center;


        img {
            width: 100%;
            max-width: 340px;
            margin-top: -30px;
        }
    }

    .light_bottom {
        text-align: center;
        margin-bottom: 100px;

        .img {
            margin-top: -130px;
        }


        img {
            width: 100%;
            max-width: 980px;
            margin: 0 auto;
            padding: 0 20px;

        }

        .img_ {
            img {
                width: 100%;
                max-width: 240px;
            }

        }

        .text {
            padding-top: 50px;
            color: $brown;
            font-size: calc(30px + (55 - 30) * ((100vw - 600px) / (1300 - 600)));
            text-align: center;
            font-weight: 700;
            width: 100%;
            max-width: 980px;
            margin: 0 auto;
        }
    }
}

.hideTy {
    display: none;
}

.showTy {
    display: block;
}

.black {
    top: 30px;

    div {
        background: $textColor !important;
    }
}

.nohome {
    top: 35px !important;
}


.home_menu_wrapper {
    top: 15px;
}

.ham_sm.black {
    padding-bottom: 20px;
}



.adjust_height {
    @media(max-width:1045px) {}

    @media(max-width:900px) {

        .dark_section {
            min-height: 395px;
        }

        .offset_media_container {
            margin-top: -190px;
        }
    }


    @media(max-width:768px) {

        .dark_section {
            min-height: 255px;
        }

        .offset_media_container {
            margin-top: -150px;
        }
    }


    @media(max-width:425px) {

        .dark_section {
            min-height: 200px;
        }

        .offset_media_container {
            margin-top: -180px;
        }
    }

}




.adjust_height_photo {


    .offset_media_container {
        min-height: unset !important;
    }

    @media(min-width:1500px) {
        .offset_media_container {
            margin-top: -120px;
        }

    }

    @media(max-width:900px) {

        .dark_section {
            min-height: 395px;
        }

        .offset_media_container {
            margin-top: -190px;
        }
    }


    @media(max-width:768px) {

        .dark_section {
            min-height: 255px;
        }

        .offset_media_container {
            margin-top: -150px;
        }
    }


    @media(max-width:425px) {
        .dark_section {
            min-height: 200px;
        }

        .offset_media_container {
            margin-top: -70px;
        }
    }

}

.no_b {
    border: none !important;
}


.am_title {
    font-weight: 600;
    color: $brown;
    font-size: 22px;
}

.am_list {
    li {
        list-style: none;
        font-weight: 600;
    }
}


.right_list {
    @media(max-width: 1045px) {
        order: 2
    }
}

.left_list {
    @media(max-width: 1045px) {
        order: 3
    }
}

.tower_img {
    @media(max-width: 1045px) {
        order: 1;
        margin-bottom: 30px;
    }
}



.blog_content>* {
    background-color: transparent !important;
    color: white !important;
}


.blog_content {
    p {
        background-color: transparent !important;
        color: white !important;
    }

    span {
        background-color: transparent !important;
        color: white !important;
    }

    div {
        background-color: transparent !important;
        color: white !important;
    }

}

.form_text {
    text-align: center;
    width: 100%;
    display: flex;
    height: 100%;
    min-height: 90px;
    font-size: 21px;
    font-weight: 600;
    align-items: flex-end;
    justify-content: center;
}

.left_image {
    .text {
        margin-right: 12px;
        text-align: right;
        color: #737373;
    }

}

.right_image {
    .text {
        margin-left: 0px;
        color: #737373;
    }
}



.new_menu_container {
    display: flex;
    justify-content: space-between;


    .ham_cont {
        @extend .center_all;
    }

    .ham_sm {
        width: 80px;
        margin-top: 0px;
    }

    .logo_sm {
        margin: 0;
        margin-top: 0px;
    }
}

.req_input {
    font-size: 11px;
}



.offet_slider_wrapper {


    .pv_button,
    .fw_button {
        img {
            width: 100%;
            max-width: 40px;
        }

        cursor: pointer;
        top: 80%;
        position: absolute;
        z-index: 9;
    }

    .pv_button {
        left: 50px;
    }

    .fw_button {
        right: 50px;
    }
}
